<h4>お申し込みありがとうございました。</h4>
Wi-Fiアカウント情報をご登録いただいたメールアドレス宛にお送りいたしましたので、ご確認ください。<br /><br />

<h4><ご利用方法></h4>
  SSID:「Fruits-Net」への接続を確認し、下記のログインページURLにアクセスしてください。ログイン画面が表示されますので、メールに記載されたログインID/パスワードを入力します。<br />
<br />
  -- フルーツネットWi-Fiログインページ--<br />
  <%= link_to "http://wifi-auth.fbb.ne.jp/wifi_authentication", "http://wifi-auth.fbb.ne.jp/wifi_authentication" %><br />
<br />
フルーツネットWi-Fi案内ページが表示され、インターネットへの接続完了となります。
