<%= form_tag csv_upload_admin_wifi_accounts_path,
    {method: :post, multipart: true, class: "form-inline"} do %>
  <div class="control-group">
    <label class="control-label">
      ファイルを選択してください
    </label>
    <div class="controls">
      <%= file_field_tag 'wifi_accounts' %>
    </div>
  </div>
  <div class="form-actions">
    <%= submit_tag "アップロード", class: 'btn btn-primary' %>
  </div>
<% end %>
