<div class="login-form">
  <h4>フルーツネット <br />Wi-Fiスポットログイン完了</h4>
  <p class="text-success">
    Wi-Fiスポットの利用準備が完了しました。<br />
    フルーツネットWi-Fiスポットで、インターネットをお楽しみください。
  </p>
  <p>
    <%= link_to 'フルーツネットTOP', 'http://www.fbb.ne.jp' %>
  </p>
</div>