<p>会員登録メール <%= @resource.email %>!</p>

<p>
  こちらはフルーツネットWiFiサービスの会員登録メールです。
  このメールに心当たりが無い場合は無視してください。

  会員登録を行う場合は、以下のリンクをクリックしてください。
</p>

<p>
  <%= link_to 'フルーツネットWiFiサービスの会員登録を行う', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>
</p>
